<div f>
  <div class="col-3">
    <img src="../../assets/img/logo.png" height="80" width="80" alt="logo"/>
    <h1>Gestionnaire de film</h1>
  </div>
  <mat-grid-list cols="2" >
    <mat-grid-tile>
    bonjour
    </mat-grid-tile>
    <mat-grid-tile>
      bonjour
    </mat-grid-tile>
    <mat-grid-tile>
      bonjour
    </mat-grid-tile>
    <mat-grid-tile>
      bonjour
    </mat-grid-tile>
    <mat-grid-tile>
      bonjour
    </mat-grid-tile><mat-card>
    bonjour
  </mat-card>
    <mat-card>
    bonjour
  </mat-card><mat-card>
    bonjour
  </mat-card>
  </mat-grid-list>
</div>
